body {
  background-color: black;
  min-height: 100vh;
  color: white;
  font-family: monospace;
}
h1 {
  font-family: monospace;
  text-transform: lowercase;
  color: white;
  margin-right: 100px;
  text-align: right;
  margin-right: 30%;
  margin-top: 10%;
      }
p {
  margin-right: 100px;
  text-align: right;
  margin-right: 30%;
}
